.notes {
    display: grid;
    grid-template-columns: min(30vw, 360px) auto;
}

.empty {
    display: grid;
    align-content: center;
    justify-items: center;
}

.sidebar {
    height: 100vh;
    overflow-y: scroll;
    border-right: 2px solid #38a537;
}

.new-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}

.new-buttons button {
    margin: 5px;
}

.edit-area {
    display: grid;
    grid-template-rows: 6vh auto;
}

.toolbar {
    display: grid;
    grid-template-columns: auto 120px 160px;
    margin: 5px 10px 10px 10px;
}

.toolbar * {
    margin: 5px;
}

.toolbar .button {
    flex-direction: row-reverse;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 9999;
}

@media (prefers-color-scheme: dark) {
    .sticky {
      background-color: #21222c;
    }
  }